@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap');

.App{
    background-image: url("./images/bgmain.jpg");
    background-size:cover;
    height:100vh;
    overflow: hidden;

}

h1{
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-size: 80px;
  text-align: center;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
    
}

.Form-div{
  display: flex;
  align-items: center;
  justify-content: center;

}

